
{% extends "base.html" %} {% load static %} {% block content %}

<div class="about-container">
  <div class="row">
    <h1 class="sub-page-title padding">Find your Pal with Palpicker</h1>
    <div class="col-md-6 padding">
      <h2 class="about-h2">Meet, Greet and Treat</h2>
      <p>
        Meet students in Regenburg through availing their services and treat them however you want.
        Palpicker firmly believes that by emphasizing the positive aspects and shared interests, 
        we can play a part in creating mutually beneficial outcomes for everyone involved. 
        Let's grow together!
      </p>
      <h3 class="about-h3"><strong>Find a Friend</strong></h3>
      <p>
        Are you seeking opportunities to connect with individuals from different cultures and
        form friendships? Palpicker pairs you with people in your area who share similar
        interests and hobbies.
      </p>
    </div>

    <div class="col-md-6">
      <img src="https://res.cloudinary.com/dzw4z92rn/image/upload/v1694087387/static/images/infoview.a49e753e4663.webp"
        class="img-fluid info-img" alt="" />
    </div>
  </div>
</div>

{%endblock%}