{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title"> {{ post.title }}
                </h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle"> {{ post.author }} |{{ post.created_on }} </p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                {% else %}
                <img src="{{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body" id="description">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text ">
                    {{ post.description | safe }}
                </p>

            </div>
        </div>
    </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <button type="submit" class="btn btn-signup btn-lg" data-bs-toggle="modal" data-bs-target="#request-service">Request Service!</button>
                <br>
                <!-- to tell the user that their request is awaiting approval -->
                {% if requested %}
                <div class="alert alert-success" role="alert">
                    Your request is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3>Make a Request to avail this service</h3> 
                <form method="post" style="margin-top: 1.3em;">
                    {{ request_form | crispy }}
                    {% csrf_token %}
                    <br>
                    <button type="submit" class="btn btn-signup btn-lg">Request Service!</button>
                </form>
                {% endif %}
                {% endif %}
                <br>
                <button type="submit" class="btn btn-signup btn-lg" data-bs-toggle="modal" data-bs-target="#request-service">Contact Now for Queries!</button>
                <!-- Modal -->
                <div class="modal fade" id="request-service" tabindex="-1" aria-labelledby="request-modal-title" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="request-modal-title">Are you Registered/LoggedIn?</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>If you have not yet signed up, then please first register to our website 
                            <a href="{% url 'account_signup' %}">here!</a>
                            or log in to your account to avail this offer!</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">LogIn</button>
                          <button type="button" class="btn btn-primary">Register</button>
                        </div>
                      </div>
                    </div>
                  </div>


{% endblock content %}