{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %} - {{ user.username }} Profile{% endblock %}

{% block content %}

<section class="bg-light">
   <!------ Breadcrumbs ------>
   <div id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <ol>
                <li><a href="{% url 'user_profile' %}">Profile</a></li>
                <li>Edit Profile</li>
            </ol>
        </div>
    </div>
</div>

    <div class="container">
        <div class="dashboard-title">
            <h1><strong>Edit Profile</strong></h1>
        </div>
    </div>
<!------ Edit Profile Section ------>
<div class="bg-light py-5">
    <div class="container">
    
        <div class="card-body">
            <div class="contact-form-container mx-auto my-4">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}