{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %} - {{ user.username }} Profile{% endblock %}

{% block content %}

<section class="bg-light">
   <!------ Breadcrumbs ------>
   <div id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <ol>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>Profile</li>
            </ol>
        </div>
    </div>
</div>

    <div class="container">
        <div class="dashboard-title">
            <h1><strong>Welcome {{ user }}:</strong></h1>
            <a href="{% url 'edit_profile' %}"><button type="submit">Edit Profile</button></a>
        </div>

<!------ Profile Dashboard ------>
<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 create-btn">
                    <h2>Create New Service</h2>
                    <a href="{% url 'create_offer' %}" class="btn btn-primary create-btn-big">
                        <i class="fa-solid fa-circle-plus"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-12">
                <h3>Your Offers</h3>
                {% for post in user_offers %}
                <!--  Items -->
                <div class="col-md-10 mx-auto mt-md-3 mt-lg-4 mt-4">
                    <div class="container offer-details-card card shadow my-2">
                        <div class="row">
                            <div class="col-12 col-md-8 mt-3">
                                <ul>
                                    <li>
                                        Title: <strong>
                                            {{ post.title }}</strong></li>

                                    <li><i class="fa-regular fa-newspaper"></i>  <strong class="booking-card-van-name">
                                            {{ post.excerpt }}</strong></li>


                                    <li><i class="fa-solid fa-money-bill-1"></i> Price: <strong>
                                            £{{ post.price }}</strong></li>
                                    
                                    <li><i class="fa-solid fa-calendar-days"></i> Date Created:
                                            {{ post.created_on }}</li>

                                    <li><i class="fa-solid fa-pen"></i><small> Last updated:
                                            {{ post.updated_on }}</small>
                                    </li>

                                    <li class="offer-status {% if post.status == '0' %}pending{% elif post.status == '1' %}approved{% endif %}">
                                        <i class="fa-solid fa-traffic-light"></i>
                                        {% if post.status == '0' %}
                                            Pending ({{ post.status }})
                                        {% elif post.status == '1' %}
                                            Approved ({{ post.status }})
                                        {% else %}
                                            unknown {{ post.status }}
                                        {% endif %}
                                    </li>

                                </ul>

                            </div>
                            <div class="col-12 col-md-4 mt-3">
                                <!-- Edit Button -->
                                <a class="btn btn-primary" href="{% url 'edit_offer' offer_slug=post.slug %}">
                                    Edit
                                </a>
                
                                <!-- Delete Button -->
                                <a class="btn btn-danger" href="{% url 'delete_offer' offer_slug=post.slug %}">
                                    Delete
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                {% empty %}
                <p>There are no offers to display, create one now!</p>
                {% endfor %}

                {% if is_paginated %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if user.userprofile.useroffer_set.has_previous %}
                        <li><a href="?page={{ user.userprofile.useroffer_set.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                        {% endif %}
                        {% if user.userprofile.useroffer_set.has_next %}
                        <li><a href="?page={{ user.userprofile.useroffer_set.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
{% endblock %}


