{% extends "base.html" %}
{% load static %}

{% block extra_title %} - {{ user }} Profile{% endblock %}


{% block content %}
<section class="bg-light">
   <!-- ======= Breadcrumbs ======= -->
   <div id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <ol>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>Profile</li>
            </ol>
        </div>
    </div>
</div><!-- End Breadcrumbs -->

    <div class="container">
        <div class="dashboard-title">
            <h1><strong>Welcome {{ user.name }}:</strong></h1>
        </div>

<!-- ======= Profile Dashboard ======= -->
<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 create-btn">
                    <h2>Create New Service</h2>
                    <button class="create-btn btn-big" data-toggle="modal" data-target="#offerModal"
                        aria-label="Create Booking"><i class="fa-solid fa-circle-plus"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-12">
                <h3>Your Offers</h3>
                {% for posts in post %}
                <!--  Items -->
                <div class="col-md-10 mx-auto mt-md-3 mt-lg-4 mt-4">
                    <div class="container booking-details-card card shadow my-2">
                        <div class="row">
                            <div class="col-12 col-md-8 mt-3">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-hashtag"></i>Title: <strong>
                                            {{ post.title }}</strong></li>

                                    <li><i class="fa-solid fa-truck-front"></i><strong class="booking-card-van-name">
                                            {{ post.description }}</strong></li>

                                    <li><i class="fa-solid fa-calendar-days"></i>Booking Date: <strong>
                                            {{ post.featured_image }}</strong></li>

                                    <li><i class="fa-solid fa-money-bill-1"></i>Price: <strong>
                                            £{{ post.price }}</strong></li>

                                    <li><i class="fa-solid fa-pen"></i><small>Last updated:
                                            {{ post.updated_on }}</small>
                                    </li>

                                    <li
                                        class="booking-status {% if post.status == 'Pending' %}pending{% elif post.status == 'Approved' %}approved{% endif %}">
                                        <i class="fa-solid fa-traffic-light"></i>{{ post.status }}</li>

                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
                
                {% empty %}
                <p>There are no offers to display, create one now!</p>
                {% endfor %}

                {% if is_paginated %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                        {% endif %}
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div><!-- End Booking Items -->
        </div>

        <!-- Offer Modal -->
<div class="modal fade" id="offerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="OfferModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="OfferModalLabel">Offer a New Service</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'create_booking' %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div id="messages" class="container">
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissable text-center" role="alert">
                        {% for error in form.non_field_errors %}
                        <strong>{{ error }}</strong>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% for field in form %}
                    {% if field.errors %}
                    <div class="alert alert-danger alert-dismissable text-center" role="alert">
                        <strong>{{ field.errors|join:" " }}</strong>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <input type="submit" value="Request Booking" class="btn btn-warning btn-block">
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>

    
    
        
{% endblock %}

