{% extends "base.html" %}
{% load static %}

{% block content %}

<!------ Breadcrumbs ------>
<div id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <ol>
                <li><a href="{% url 'user_profile' %}">My Profile</a></li>
                <li>My Requests</li>
            </ol>
        </div>
    </div>
</div>
<!------ Create Offer Section ------>
<section class="bg-light">
    <div class="container">
        <div class="section-title section-header text-center">
            <h1>My Requests</h1>
        </div>
    </div>
</section>
<!------ Displays User's Requests ------>
<div class="col-md-12">
    <h3>Your Requests</h3>
    {% for request in user_requests %}
        <!-- Request Details -->
        <div class="col-md-10 mx-auto mt-md-3 mt-lg-4 mt-4">
            <div class="container request-details-card card shadow my-2">
                <!-- Displays relevant information about the request here -->
                <p>Title: <strong>{{ request.post.title }}</strong></p>
                <p>Status: {% if request.approved %} Approved {% else %} Pending {% endif %}</p>
            </div>
        </div>
    {% empty %}
        <p>You haven't made any requests yet.</p>
    {% endfor %}
</div>
{% endblock %}